@import url('./main-layout.css');
@import url('./views/recuperacion202210040039-view.css');    html {
      --lumo-error-color: hsl(0, 70%, 82%);
      --lumo-error-color-50pct: hsla(0, 70%, 82%, 0.5);
      --lumo-error-color-10pct: hsla(0, 70%, 82%, 0.1);
      --lumo-shade-5pct: hsla(214, 84%, 30%, 0.05);
      --lumo-shade-10pct: hsla(214, 84%, 30%, 0.1);
      --lumo-shade-20pct: hsla(214, 84%, 30%, 0.2);
      --lumo-shade-30pct: hsla(214, 84%, 30%, 0.3);
      --lumo-shade-40pct: hsla(214, 84%, 30%, 0.4);
      --lumo-shade-50pct: hsla(214, 84%, 30%, 0.5);
      --lumo-shade-60pct: hsla(214, 84%, 30%, 0.6);
      --lumo-shade-70pct: hsla(214, 84%, 30%, 0.7);
      --lumo-shade-80pct: hsla(214, 84%, 30%, 0.8);
      --lumo-shade-90pct: hsla(214, 84%, 30%, 0.9);
      --lumo-primary-color-50pct: hsla(181, 66%, 74%, 0.5);
      --lumo-primary-color-10pct: hsla(181, 66%, 74%, 0.1);
      --lumo-success-color-50pct: hsla(220, 59%, 79%, 0.5);
      --lumo-success-color-10pct: hsla(220, 59%, 79%, 0.1);
      --lumo-shade: hsl(214, 84%, 30%);
      --lumo-primary-color: hsl(181, 66%, 74%);
      --lumo-primary-text-color: hsl(184, 42%, 48%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(220, 59%, 79%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 80%, 76%);
      --lumo-base-color: #ebd1f5;
      --lumo-body-text-color: hsla(214, 34%, 39%, 0.94);
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 3rem;
      --lumo-font-size-xxl: 2.25rem;
      --lumo-font-size-xl: 1.75rem;
      --lumo-font-size-l: 1.375rem;
      --lumo-font-size-m: 1.125rem;
      --lumo-font-size-s: 1rem;
      --lumo-font-size-xs: 0.875rem;
      --lumo-font-size-xxs: 0.8125rem;
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);

    }
